@import './template/custom.css';
@import './template/plugins.css';
@import './template/responsive.css';
@import './template/darkmode.css';
@import './template/tokyocomponents.css';

/* Polices Google avec display=swap déjà optimisé */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot'); /* Le chemin est ../font/ */
    src: url('../font/fontello.eot?#iefix') format('embedded-opentype'),
    url('../font/fontello.woff2') format('woff2'),
    url('../font/fontello.woff') format('woff'),
    url('../font/fontello.ttf') format('truetype'),
    url('../font/fontello.svg#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Optimisation du rendu */
}



/**
 * 1. Injection des directives de base de Tailwind v3
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * 2. Custom class
 */


/* Supprime l'ombre rouge par défaut sur les champs de formulaire invalides */
input:invalid, textarea:invalid, select:invalid {
    box-shadow: none;
}

/* Cache les éléments Alpine.js (x-cloak) jusqu'à leur initialisation */
[x-cloak] {
    display: none !important;
}


body {
    width: 100%;
    overflow-x: hidden;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    font-family: Mulish, sans-serif !important;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    /* La ligne ci-dessous a été modifiée */
    color: #333333;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    line-height: 1.4;
/*    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));*/
    color: #f25835;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

.rightpart {
    background-color: #fff0e3;
}

.leftpart {
    /*background-color: #8fd9b6;*/
}
